<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Your Recipes</h1>
    <ul>
      <% @recipes.each do |recipe| %>
        <li><a href="/recipes/<%=recipe.id%>"><%= recipe.name.titleize %></a></li>
      <% end %>
    </ul>

    <br></br>
    <a href="/categories">View list of categories</a>
  </body>
</html>
