<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Your Recipes</h1>
    <ul>
      <% @recipes.each do |recipe| %>
        <li><a href="/recipes/<%=recipe.id%>"><%= recipe.name.titleize %></a></li>
      <% end %>
    </ul>
    <br>
    <a href="/recipes/new">Create A New Recipe</a><br>
    <br></br>
    <a href="/categories">View List Of Categories</a>
  </body>
</html>
