<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your Recipe Categories</h1>
    <ul>
      <% @categories.each do |category| %>
        <li><a href="/categories/<%=category.id%>"><%= category.name.titleize %></a></li>
      <% end %>
    </ul>
    <br></br>
    <a href="/recipes">View Your Full List Of Recipes</a>
  </body>
</html>
