<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @category.name.titleize %></h1>
    <ul>
      <% @category.recipes.each do |recipe| %>
        <li><a href="/recipes/<%=recipe.id%>"><%= recipe.name.titleize %></a></li>
        <% end %>
    </ul>

    <br></br>
    <a href="/categories">Return to list of categories</a>
    <br></br>
    <a href="/recipes">View your full list of recipes</a>

  </body>
</html>
